<h2>University Data: CINS 370</h2>

<label>Visualize:</label><a class='dropdown-button btn' href='#' data-activates='dropdown1'>Bedroom Count</a>

<ul id='dropdown1' class='dropdown-content'>
  <li><a href="#!">One</a></li>
  <li><a href="#!">Two</a></li>
  <li><a href="#!">Three</a></li>
</ul>

<button type="button" id='get-data'>Get data</button>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1doWI8TifYyjryVBUf8PUDKoLNNgWwkk"></script>
<script>

// global vars
var coordinates = [];
var access_token = "";
var resource_endpoint = "https://c3ezh371.caspio.com/rest/v1";


$(function(){

  // bind click events
  $('#dropdown1 li:nth-child(1) > a').click(function(event){
    event.preventDefault();
  });
  $('#dropdown1 li:nth-child(2) > a').click(function(event){
    console.log('clicked2');
    event.preventDefault();
  });
  $('#dropdown1 li:nth-child(3) > a').click(function(event){
    console.log('clicked3');
    event.preventDefault();
  });


  $('#get-data').click(function(){
    getData();
  });





  var token_endpoint = "https://c3ezh371.caspio.com/oauth/token";
  var client_id = "e60813adffb14ad5c35e4d88209d8147537d443b6af845ec05";
  var client_secret = "8160618d0ca44ccab634786da88bbceb562d344f4ada870c56";
  var body = "grant_type=client_credentials&client_id=" + client_id + "&client_secret=" + client_secret;

  $.ajax({
    method: "POST",
    url: token_endpoint,
    data: body,
    success: function(data, status){
      console.log('success', data);
      access_token = data.access_token;
    },
    error: function (jqXHR, status, error){
      console.log('error');
    }
  });
});

function getURL(attributes){
  return resource_endpoint + attributes;
}

function getData(){
  var calls = 8;
  var request_universities = '/tables/University/rows?q=' + JSON.stringify(universities_where_json);
  var request_universities_with_bedroom_1_data = "/views/UniversityBedroom1/rows"
  var return_count = 0;

  //Loop to get all data cause 1000 limit
  for(var i = 1; i <= calls; i++){
    // var universities_where_json = {
    //   "Select":"University_ZIP, Bedroom_1_a201607",
    //   "WHERE": "University_ZIP BETWEEN " + 12500*(i-1) + " AND " + 12500*i,
    //   "limit": 1000
    // }
    //   var universities_where_json = {
    //   "Select":"University_ZIP",
    //   "WHERE": "University_ZIP BETWEEN " + 12500*(i-1) + " AND " + 12500*i,
    //   "limit": 1000
    // }
    var universities_where_json = {
      "Select":"ZIP",
      "WHERE": "ZIP BETWEEN " + 12500*(i-1) + " AND " + 12500*i,
      "limit": 1000
    }
    // var request_universities = '/views/UniversityBedroom1/rows?q=' + JSON.stringify(universities_where_json);
    var request_universities = '/tables/University/rows?q=' + JSON.stringify(universities_where_json);

    $.ajax({
      headers: {
        "Authorization": "Bearer " + access_token
      },
      method: 'GET',
      url: getURL(request_universities),
      success: function(data, status){
        console.log("got data:", data);
        return_count += 1;
        if(return_count == 8){
          getLatLon(data, true);
        }
        else{
          getLatLon(data, false);
        }
      },
      error: function(jqXHR, status, error){
        console.log("error in getting data:", jqXHR.responseText);
      }
    });
  }
}

function getLatLon(data, build){
  var zip;
  var expected_count = (data.Result.length)-1;

  for(var i = 0; i < data.Result.length; i++){
    // zip = data.Result[i].University_ZIP.toString();
    zip = data.Result[i].ZIP.toString();
    console.log('got result')
    coords = zip_obj[zip];
    console.log('zip', zip, coords);
    if (coords){
      // console.log('pushing var');
      // var variable = data.Result[i].Bedroom_1_a201607;
      // console.log('var:', variable);
      // coords.push(variable);
      // console.log(coords);
      coordinates.push(coords);
    }
  }
  if(build){
    console.log("COORDS SIZE", coordinates.length);
    buildMap(coordinates);
  }
}
</script>
<script src="/javascripts/us-d3.js"></script>
<script src='/javascripts/zip_code_obj.js'></script>
